<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org.extras/spring-security">
<head th:replace="fragments/head :: head('')">
  <meta charset="UTF-8">
</head>
<body>
<div align="right" class="m">
  <!--    ログアウトのリクエストをGetで送っても上手くいかなかったけどPostで送ったら上手く行った。-->
  <header th:fragment="header">
    <table class="text-end text-nowrap">
      <thead>
      <tr>
        <th>
          ログイン中のユーザ
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td sec:authentication="principal.displayUserName">ユーザID</td>
      </tr>
      <tr>
        <td sec:authorize="hasRole('authorityAdmin')">管理者ユーザ</td>
        <td sec:authorize="!hasRole('authorityAdmin')">一般ユーザ</td>
      </tr>
      </tbody>
    </table>
    <form method="post" th:action="@{/logout}">
      <input type="submit" value="ログアウト">
    </form>
  </header>
</div>
</body>
</html>