<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
</head>
<body>
<div align="center">
  <div>
    <ul th:if="${errors}">
      <li th:each="error : ${errors}" th:text="${error}">
        エラーメッセージ
      </li>
    </ul>
  </div>
  <h1>ログイン画面</h1>
  <h5>ログインしてください</h5>
  <form th:action="@{/login}" method="post">

    <label>LoginID:</label>
    <input type="text" name="user" required/><br/>

    <label>Password:</label>
    <input type="text" name="password" required/><br/>

    <button type="submit">Login</button>
  </form>
</div>
</body>
</html>